<!DOCTYPE html>
{% extends "bootstrap/base.html"%}
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">

{% block content%}
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="home">
        <h1 class="home-heading">Home</h1>

        <form method="post" action="/">
            <input type="submit" value="register" name="register_btn" class="home-button btn btn-danger btn-lg">
            <input type="submit" value="login" name="login_btn" class="home-button btn btn-primary btn-lg">
        </form>

    </div>
</body>
{% endblock %}
</html>
