<!DOCTYPE html>
{% extends "bootstrap/base.html"%}
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="message">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="form">
        {{wtf.quick_form(form)}}
    </div>
</body>
{% endblock %}
</html>